[submodule "question/format/speedwell_csv"]
	path = question/format/speedwell_csv
	url = https://github.com/tbfenet/qformat_speedwell_csv.git
[submodule "mod/customcert"]
	path = mod/customcert
	url = https://github.com/markn86/moodle-mod_customcert.git

